*/.idea
*/.vs
*/bin
*/obj
SortingAlgorithms/SortingAlgorithms/bin
SortingAlgorithms/SortingAlgorithms/obj
**/**/bin
**/**/obj
eksamensprojekt/OpenAI/key.txt
eksamensprojekt/org.txt
eksamensprojekt/key.txt
eksamensprojekt/ImageOutput/**
